.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

body {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(mintcream, gray); /* Standard syntax (must be last) */
}

h1 {
  color: #282c34;
}